@import "scss/vars";
@import "scss/layout";
@import "scss/test";

.base {
  background-color: white;
  padding: 50px;
  width: 800px;
  display: flex;
  font-size: 17px;
  line-height: 1.6em;
  // overflow: hidden;
}

.content {
  // overflow: hidden;
  width: 100%;
  &.element-picked {
    .column {
      box-shadow: 0 0 0 1px #daf4f9;
      background-color: rgba(205, 248, 255, 0.25);
    }
    .column:empty {
      box-shadow: none;
    }
  }
}
.row {
  display: flex;
  padding: 5px 10px;
}
.column {
  margin: 0 5px;
  flex: 1;
  border-radius: 4px;
}

.grid-add {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(205, 248, 255);
  width: 40px;
  height: 40px;
  display: none;
}

[draggable="true"] {
  background-color: rgb(205, 248, 255);
}

.element-popup {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  transform: translate3d(-50%, calc(-100% - 10px), 0) scale(0.9);
  box-shadow: $shadow;
  padding: 2px 0;
  background: white;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transform-origin: bottom center;
  transition: 0.2s opacity, 0.2s transform $cubic;
  &.open {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(-50%, calc(-100% - 10px), 0) scale(1);
  }

  .popup-item {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 3px;
    transition: 0.2s background;
    cursor: pointer;
    &:hover {
      background: #f3f3f3;
    }
    .popup-item--icon {
      border-radius: 4px;
      // background: #03a9f4;
      background: #ebecec;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      img {
        width: 12px;
        opacity: .6;
      }
    }
  }
}

.element-icon {
}

.element {
  flex: 1;
  cursor: grab;
  display: flex;
  position: relative;
  transition: 0.1s background-color;
  .element-drag {
    background-image: url("img/grip-vertical.svg");
    margin-right: 5px;
  }
  .element-icon,
  .element-drag {
    width: 20px;
    height: 1.6em;
    flex-shrink: 0;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.2s opacity, 0.2s transform;
  }
  .element-icon {
    cursor: pointer;
  }
  .element-content {
    flex: 1;
    cursor: text;
    outline: none;
    word-break: break-word;
  }
  &.focus,
  &:hover {
    .element-icon,
    .element-drag {
      opacity: 0.3;
      transform: translateX(0);
    }
  }

  &[data-element="p"] {
    .element-icon {
      background-image: url("img/corner-down-right.svg");
    }
  }
  &:hover {
    background-color: rgba(205, 248, 255, 0.25);
  }
}
